<!-- @Swarna -->
<app-breadcrumb-pagination></app-breadcrumb-pagination>
<div class="container">
  <div class="row">
    <h2 class="title-main">Audio
      <div class="col-md-3 searchData searchBoxInHeader inner-addon right-addon">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" [(ngModel)]="searchTexts" class="form-control" placeholder="Search" />
      </div>
    </h2>
  </div>
  <div class="row short-description">{{staticService.contentData.viewType}}</div>
  <div id="wrapper">
    <div class="content">
      <div class="row">
        <div class="tab-content">
          <div class="row">
          <form class="col-md-11 gallery-selection padding-zero">
            <div *ngFor="let field of selectionFields; let i = index;"
              [ngClass]="{'form-group':field.controlType == 'textbox'}" class="col-md-6 padding-zero">
              <div style="color: #31859c; font-size: 18px; margin-bottom: 20px;">
                {{field.keyHeading}}</div>
              <label [attr.for]="field.columnName" class="col-md-4 time-label">{{field.label}}&nbsp;:</label>
              <div [ngSwitch]="field.controlType" class="col-md-7 input-holder padding-zero">
                <!-- input text box -->
                <input *ngSwitchCase="'textbox'" name="{{field.columnName}}" [id]="field.columnName" [type]="field.type"
                  [(ngModel)]="field.value" class="form-control" [ngClass]="{'no-spinners':field.type == 'number'}">
                <!-- Input dropdown-->
                <div class="btn-group" style="padding-left: 3px;
                         width: 100%;margin-bottom: 1rem" dropdown *ngSwitchCase="'dropdown'">
                  <input type="text" class="dropdown-input" [id]="field.columnName" style="padding: 10px;" readonly
                    [placeholder]="''" [(ngModel)]="field.value" name="{{field.columnName}}">
                  <button type="button" style="padding: 0" dropdownToggle data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"
                    class="btn btn-default dropdown-toggle dropdown-toggle-split px-3 waves-light select-dropdown"
                    mdbRippleRadius></button>
                  <div class="dropdown-menu drp-list cms-dropdown-lists">
                    <a class="dropdown-item" style="font-size: 13px;" *ngFor="let opt of field.options"
                      (click)="selectDropdown(opt, selectionFields, i)">{{opt.value}}</a>
                  </div>
                </div>
                <div class="" [ngClass]="[!field.errorFound ? 'd-none':'']"
                  style="color: red;    margin-top: -12PX; padding-left: 5px;">{{field.errorMessage}}
                </div>
              </div>
            </div>
          </form>
          <div class="col-md-1 reset-section">
              <button class="btn reset-btn" title="reset" (click)="resetVal(selectionFields)" type="button">
                  <i class="fa fa-undo" aria-hidden="true"></i>
              </button>
          </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-12 text-right">
                
            </div>
          </div> -->

          <div id="photos" class="tab-pane in active photos_display"  *ngIf="filteredGalleryDetails.length">
            <div class="row row_first">
              <div
                *ngFor="let category of filteredGalleryDetails | searchText : searchTexts | paginate: { itemsPerPage: 8, currentPage: p }; let i = index"
                class="col-md-3 catagory animated" id="kp_day8">
                <div class="title-text audio-background">
                  <div class="gal_txt" style="background: url(./assets/audio/audio-symbol3.jpg) center;">
                    <p title="{{category.title}}" class="audio-gallery-box">{{category.title}}</p>

                    <!-- <p title="{{category.title}}" class="audio-gallery-box">Praesent quis nisi nec odio vehicula tincidunt sit amet at ante.</p> -->
                  </div>
                  <div class="audio-container">
                    <audio id="{{'myAudio' +i}}" type="audio/mp3">
                      <source id="{{'source' +i}}">
                    </audio>

                    <ul class="icon-inline">
                      <li class="icon-list" id="{{'play' + i}}" (click)="playAudio(category.fileName,i)">
                        <img src="./assets/audio/play-button.png"><span id="audio-link">Click here to play audio</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <pagination-controls class="pagination" (pageChange)="p = $event" *ngIf="filteredGalleryDetails.length > 8">
            </pagination-controls>
          </div>
        </div>
      </div>
      <div class="col-md-12" [hidden]="(filteredGalleryDetails | searchText : searchTexts).length != 0">
        <h4 class="text-center no-data-found">No Audio Found</h4>
      </div>
    </div>
  </div>
</div>